<header>
  <div id="logo">
    <img src="../../assets/img/logo.jpg" alt="avengers logo">
  </div>
  <div id="links">
    <a routerLink="/register"><i class="light-user-icon"></i>Register now</a>
  </div>
</header>

<main>
  <div id="banner">
    <div id="slogan">
      Record Your Todo List
    </div>
    <div id="login_panel">
      <h3>Log in</h3>

      <div id="error_msg">{{ errMsg }}</div>

      <form method="POST" action="/login">
        <div class="login-input-panel">
          <div class="login-input">
            <i class="icon un"></i>
            <input type="email" name="username" placeholder="Email" required [(ngModel)]="username">
          </div>
          <div class="login-input pwd">
            <i class="icon pwd"></i>
            <input type="password" name="password" placeholder="Password" required minlength="6" [(ngModel)]="pwd">
          </div>
        </div>

        <div class="login-btn-panel">
          <button type="button" (click)="onLogin()">Log in</button>
        </div>
      </form>
    </div>
  </div>
</main>

<footer>
  <p>TodoList.</p>
  <p>All By Ma Xiangyu.</p>
</footer>
