
<!--头部-->
<header>
  <div id="logo">
    <img src="../../assets/img/logo.jpg" alt="avengers logo">
  </div>
  <div id="links">
    <a href="javascript:void(0)" (click)="onLogout()"><i class="light-user-icon"></i>Log out</a>
  </div>
</header>

<div id="banner">
  <div class="container">
    <!--<button (click)="onLogout()">Log Out</button>-->
    <h1>Todos</h1>
    <input #new_todo id="new_todo" type="text" placeholder="What needs to be done?"
           (keydown.enter)="onEnter($event, new_todo)">
    <div *ngIf="res.totalNum > 0">
      <section>
        <input id="toggle_all"type="checkbox"
               [ngModel]="res.isAllCompleted"
               (click)="onToggleAllClick()">
        <label id="mark" for="toggle_all">Mark all as complete</label>

        <ul>
          <li *ngFor="let todo of res.data; index as i">
            <app-todo-item [id]="todo.id"></app-todo-item>
          </li>
        </ul>
      </section>
      <footer>
        <label><b>{{ res.leftNum }}</b> item left</label>
        <a href="javascript:void(0)"
           *ngIf="res.completedNum > 0"
           (click)="onDeleteCompleted()">Clear {{ res.completedNum }} completed item</a>
      </footer>
    </div>
  </div>
</div>

<div id="footer">
  <p>Final Project - TodoList.</p>
  <p>All By Avengers.</p>
</div>

