:host{
  background-color: #EEEEEE;
}

header {
  position: relative;
  margin: 0 35px;
  padding: 0 40px;
  height: 60px;
}
header #logo {
  display: inline-block;
}
header #logo img {
  height: 55px;
}
header #links {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 40px;
  margin-top: -9px;
  font-size: 14px;
}
header #links a {
  text-decoration: none;
  color: #353535;
}

.light-user-icon {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='17' height='16' viewBox='0 0 17 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.696 4.92c0 1.843 1.001 2.93 1.52 3.568.014.847.008.8.014 1.062-.627.58-5.224 3.152-5.224 3.897v.933c0 .347-.11.639.64.621H15.1c.719.04.64-.274.64-.621v-.933c0-.745-4.83-3.446-5.395-4.025v-.853c.877-.823 1.662-1.895 1.662-3.739 0-1.913-1.424-3.83-3.634-3.83-2.209 0-3.676 2.006-3.676 3.92z' stroke='%23000' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
  margin-right: 5px;
  width: 17px;
  height: 16px;
  vertical-align: middle;
}


#banner{
  min-height: 460px;
  background: url(../../assets/img/home.jpg);
  /*background-color: #EEEEEE;*/
  /*background-size: cover;*/
  padding: 30px 0;
}

.container{
  /*width: 100%;*/
  width: 45%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  border-radius: 3px;
}

h1{
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}

/*新增框*/
#new_todo{
  width: 100%;
  margin-top: 20px;
  padding: 6px;
  font-size: 24px;
  border: 1px solid #999999;
}
#new_todo::-webkit-input-placeholder{
  font-style: italic;
}

/*主checkbox*/
#toggle_all{
  margin-right: 5px;
}

/*主checkbox后的文本*/
#mark{
  color: #333;
  font-size: 14px;
}

ul{
  margin: 10px 0;
  list-style: none;
}

ul li{
  position: relative;
  padding: 18px 0;
  border-bottom: 1px solid #cccccc;
}

ul li:last-of-type{
  border-bottom: none;
}

/**底部灰条*/
footer{
  background-color: #f4fce8;
  color: #555;
  margin: 0 -20px -20px -20px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 3;
}

footer a{
  font-size: 11px;
  line-height: 20px;
  color: #d21928;
  float: right;
  text-decoration: none;
  background: rgba(125, 125, 125, 0.1);
  border-radius: 11px;
  margin-top: 10px;
  padding: 1px 10px;
}


/*页面底部*/
#footer {
  margin-top: 20px;
  padding: 30px 0;
  color: #222222;
  font-size: 14px;
}
#footer p {
  margin-top: 10px;
  text-align: center;
}
