<header>
  <div id="logo">
    <img src="../../assets/img/logo.jpg" alt="avengers logo">
  </div>
  <div id="links">
    <a routerLink="/login"><i class="light-user-icon"></i>Log in</a>
  </div>
</header>

<main>
  <div id="banner">
    <div id="slogan">
      Record Your Todo List
    </div>
    <div id="login_panel">
      <h3>Register</h3>

      <div id="error_msg">{{ errMsg }}</div>

      <form>
        <div class="login-input-panel">
          <div class="login-input">
            <i class="icon un"></i>
            <input type="email" id="username" name="username" placeholder="Email" required [(ngModel)]="username">
          </div>
          <div class="login-input">
            <i class="icon pwd"></i>
            <input type="password" id="pwd" name="pwd" placeholder="Password" required minlength="6" [(ngModel)]="pwd">
          </div>
          <div class="login-input">
            <i class="icon pwd"></i>
            <input type="password" id="confirm" name="confirm" placeholder="Confirm Password" required minlength="6" [(ngModel)]="confirm">
          </div>
        </div>

        <div class="login-btn-panel">
          <button type="button" (click)="onRegister()">Register</button>
        </div>
      </form>
    </div>
  </div>
</main>

<footer>
  <p>TodoList.</p>
  <p>All By Ma Xiangyu.</p>
</footer>
